.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

form {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  color: #333;
  margin-top: 20px;
}

h3 {
  color: #666;
}

.expense-category {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.expense-category h2 {
  color: #007BFF;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

ul li:last-child {
  border-bottom: none;
}

.required-income {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e9ecef;
}

.expense-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pie-chart-container {
  width: 40%;
  max-width: 400px;
  margin: 20px auto;
}

.pie-chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

/* Responsive styles */
@media (max-width: 768px) {
  .expense-section {
    flex-direction: column;
    align-items: center;
  }

  .pie-chart-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .pie-chart-container {
    width: 100%;
  }

  button {
    padding: 8px 16px;
    margin: 10px 5px;
  }

  form {
    width: 90%;
    padding: 10px;
  }
}
